
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<h1>FIRE HYDRANTS</h1>





dia = {{ dia }} <br>
hpM = {{ hpm }} <br>
inlets = {{ inlet }} <br>
lines = {{ lines }} <br>
rmt = {{ rmt }} <br>
percentage = {{ extra_percentage }} <br>



<a href="{% url 'home' %}">home</a>

200 mm = {{ 200mm }} Mtrs
150 mm = {{ 150mm }} Mtrs
100 mm = {{ 100mm }} Mtrs
80 mm = {{ 80mm }} Mtrs
50 mm = {{ 50mm }} Mtrs
25 mm = {{ 25mm }} Mtrs
HYDRANT VALVES = {{ hv }} No's